sudo: required
dist: trusty
language: c

matrix:
 include:
  # OSX / Clang
  - os: osx
    osx_image: xcode8
  
  # Linux / GCC
  - os: linux
    compiler: gcc
    env: 
      - C_COMPILER=gcc-4.9
      - CXX_COMPILER=g++-4.9
    addons:
      apt:
        sources: ['ubuntu-toolchain-r-test']
        packages: 
          - gcc-4.9
          - g++-4.9
  
before_script:
  - export BUILD_DIR=$(pwd)/build

  - mkdir $BUILD_DIR
  - pushd $(pwd)
  - cd $BUILD_DIR

  - if [[ "${C_COMPILER}" != "" ]]; then export CMAKE_C_COMPILER=${C_COMPILER}; fi
  - if [[ "${CXX_COMPILER}" != "" ]]; then export CMAKE_CXX_COMPILER=${CXX_COMPILER}; fi

  - cmake ../ -DCMAKE_INSTALL_PREFIX=$INSTALL_DIR -DFREEIMAGE_TESTING=ON
  - cmake --build .
  - popd

script:
  - export BUILD_DIR=$(pwd)/build
  - pushd $(pwd)
  - cd $BUILD_DIR
  - ctest
  - popd

